body {
    margin: 0;
}

img {
    width: 200px;
    cursor: pointer;
}

#bodyWrapper{
    height: 500px;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}