body {
    margin: 0px;
}

.clearFloat{
    clear: both;
}





/********************************/

/*
* Wrapper for the profile section
*/
.profile-wrapper {
    margin: 16px auto;
    padding: 16px;
    box-shadow: 0px 0px 8px -0.5px grey;
    text-align: center;
    /*width: 50%;*/
    width: 500px;
}


/*
* 
*/
#profile-username {
    display: inline;

}


/*
* 
*/
#button_logout {
    background: red;
    border: none;
    color: white;
    font-size: 10pt;
    margin: 4px;
    padding: 6px;
    width: 25%;

}

/*
* 
*/
#button_logout:hover {
    background: brown;	
}

/*
* 
*/
#button_logout:active {
    background: brown;
    transform: translateY(4px);

}


/********************************/


/*
* 
*/
.gameRequests-wrapper {
    text-align: center;
}

.gameRequestsNotification {
    margin: 16px auto;
    width: 500px;
    box-shadow: 0px 0px 8px -0.5px grey;
    padding: 8px 16px;
}

.gameRequestsNotification h1 {
    font-size: 14pt;
    margin: 0px;
}

.gameRequestsNotification p {
    /*font-size: 14pt;*/
    margin-top: 0px;
    margin-bottom: 8px;
}



/*
* 
*/
/*.gameRequests-wrapper h1{
    font-size: 16pt;

}*/

/*
* 
*/
/*.gameRequest-row {

}*/

.button_acceptRequest {
    color: white;
    background: green;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 100px;
    margin: 0px 4px;
}

.button_acceptRequest:hover {
    background: darkgreen;
}


.button_declineRequest {
    color: white;
    background: red;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 100px;
    margin: 0px 4px;
}

.button_declineRequest:hover {
    background: darkred;
}


/********************************/


/*
* 
*/
.onlinePlayers-wrapper {
    margin: 16px auto;
    padding: 16px;
    box-shadow: 0px 0px 8px -0.5px grey;

    width: 500px;
    /*min-width: 500px;*/


}

.onlinePlayers-wrapper h1 {
    font-size: 16pt;

}


/*
* 
*/
.onlinePlayers-row {
    /*border-top: 1px solid black;*/
    display: block;
    /*margin: 8px;*/
    padding: 8px;

}

.onlinePlayers-username {
    display: inline-block;
    float: left;
    padding: 8px;
}

.button_sendRequest {
    color: white;
    background: green;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 120px;
    float: right;
}

.button_sendRequest:hover {
    background: darkgreen;
}

/*
* JavaScript changes to this class after the "Send request" button
* is clicked.
*/
.button_requestSent {
    background: yellow;
    border: 1px solid black;
    cursor: default;
    display: box;
    padding: 8px;
    text-align: center;
    width: 120px;
    display: inline-block;
    width: 120px;
    float: right;
}

.button_requestDecliend {
    color: white;
    background: red;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 120px;
    float: right;
}

/********************************/


#notificationCenter{

}
