
#notification-screenLock {
    background: gray;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    z-index: 1
}





/************************ Session Expired Notification ************************/

.sessionExpiredNotification {

    width: 500px;
    height: 180px;

    padding: 16px;
    margin: auto;

    background: white;
    box-shadow: 0px 0px 8px -0.5px grey;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.sessionExpiredNotification-button {
    width: 200px;
    margin: 0px auto;
    margin-top: 32px;
    box-shadow: 0px 0px 8px -0.5px grey;
    padding: 12px;
    background: white;
}

.sessionExpiredNotification-button:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}





/*************************** Board Size Notification **************************/

.boardSizeNotification{
    width: 450px;
    height: 125px;

    padding: 16px;
    margin: auto;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background: white;
    box-shadow: 0px 0px 8px -0.5px grey;

    z-index: 2;
}

.boardSizeNotification h1{
    font-size: 14pt;
    color: black;
}

.notification_button_general {
    width: 100px;    

    padding: 16px 16px;
    margin: 8px;

    display: inline-block; 
    box-shadow: 0px 0px 8px -0.5px grey;

    text-align: center;
}

.notification_button_general:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}

.notification_button_general:active {
    box-shadow: 0px 0px 4px -0.5px grey;
}





/*********************** Game in Progress Notification  ***********************/

.leftGameInProgressNotification {
    width: 450px;
    height: 150px;

    padding: 16px;
    margin: auto;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    box-shadow: 0px 0px 8px -0.5px grey;
    background: white;

    z-index: 2;
}

.leftGameInProgressNotification-button {
    text-align: center;
    width: 150px;    
    padding: 16px 16px;
    margin: 8px;
    /*border: 1pt solid black;*/
    box-shadow: 0px 0px 8px -0.5px grey;
    display: inline-block;
}

.leftGameInProgressNotification-button:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}

.leftGameInProgressNotification-button:active {
    box-shadow: 0px 0px 4px -0.5px grey;
}





/******************************************************************************/
.clearFloat{
    clear: both;
}