body {
    margin: 0px;
}

#screenLock {
    background: gray;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}

.clearFloat{
    clear: both;
}





/********************************/

/*
* Wrapper for the profile section
*/
.profile-wrapper {
    margin: 16px auto;
    padding: 16px;
    box-shadow: 0px 0px 8px -0.5px grey;
    text-align: center;
    /*width: 50%;*/
    width: 500px;
}


/*
* 
*/
#profile-username {
    display: inline;

}


/*
* 
*/
#button_logout {
    background: red;
    border: none;
    color: white;
    font-size: 10pt;
    margin: 4px;
    padding: 6px;
    width: 25%;

}

/*
* 
*/
#button_logout:hover {
    background: brown;	
}

/*
* 
*/
#button_logout:active {
    background: brown;
    transform: translateY(4px);

}


/********************************/


/*
* 
*/
.gameRequests-wrapper {
    text-align: center;
}

.gameRequestsNotification {
    margin: 16px auto;
    width: 500px;
    box-shadow: 0px 0px 8px -0.5px grey;
    padding: 16px;
}

.gameRequestsNotification h1 {
    font-size: 14pt;
    margin: 0px;
}

.gameRequestsNotification p {
    /*font-size: 14pt;*/
    margin: 4px;
}



/*
* 
*/
/*.gameRequests-wrapper h1{
    font-size: 16pt;

}*/

/*
* 
*/
/*.gameRequest-row {

}*/

.button_acceptRequest {
    color: white;
    background: green;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 100px;
    margin: 0px 4px;
}

.button_acceptRequest:hover {
    background: darkgreen;
}


.button_declineRequest {
    color: white;
    background: red;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 100px;
    margin: 0px 4px;
}

.button_declineRequest:hover {
    background: darkred;
}


/********************************/


/*
* 
*/
.onlinePlayers-wrapper {
    margin: 16px auto;
    padding: 16px;
    box-shadow: 0px 0px 8px -0.5px grey;

    width: 500px;
    /*min-width: 500px;*/


}

.onlinePlayers-wrapper h1 {
    font-size: 16pt;

}


/*
* 
*/
.onlinePlayers-row {
    /*border-top: 1px solid black;*/
    display: block;
    /*margin: 8px;*/
    padding: 8px;

}

.onlinePlayers-username {
    display: inline-block;
    float: left;
    padding: 8px;
}

.button_sendRequest {
    color: white;
    background: green;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 120px;
    float: right;
}

.button_sendRequest:hover {
    background: darkgreen;
}

/*
* JavaScript changes to this class after the "Send request" button
* is clicked.
*/
.button_requestSent {
    background: yellow;
    border: 1px solid black;
    cursor: default;
    display: box;
    padding: 8px;
    text-align: center;
    width: 120px;
    display: inline-block;
    width: 120px;
    float: right;
}

/********************************/


#notificationCenter{

}

.boardSizeNotification{
    width: 450px;
    height: 125px;
    padding: 16px;
    /*border: 1pt solid black;*/
    position: absolute;
    background: white;

    box-shadow: 0px 0px 8px -0.5px grey;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    margin: auto;

    z-index: 1;

}

.boardSizeNotification h1{
    font-size: 14pt;
    color: black;
}

.notification_button_general{
    text-align: center;
    width: 100px;    
    padding: 16px 16px;
    margin: 8px;
    /*border: 1pt solid black;*/
    box-shadow: 0px 0px 8px -0.5px grey;
    display: inline-block;
}

.notification_button_general:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}

.notification_button_general:active {
    box-shadow: 0px 0px 4px -0.5px grey;
}





/********************************/





.sessionExpiredNotification {

    width: 500px;
    height: 180px;
    padding: 16px;
    /*border: 1pt solid black;*/
    position: absolute;
    background: white;

    box-shadow: 0px 0px 8px -0.5px grey;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    margin: auto;

}

.sessionExpiredNotification-button {
    width: 200px;
    margin: 0px auto;
    margin-top: 32px;
    box-shadow: 0px 0px 8px -0.5px grey;
    padding: 12px;
    background: white;
}

.sessionExpiredNotification-button:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}





/*********************** Notification : user is in game ***********************/

.leftGameInProgressNotification {
    width: 200px;
    margin: 0px auto;
    margin-top: 32px;
    box-shadow: 0px 0px 8px -0.5px grey;
    padding: 12px;
    background: white;
}

.leftGameInProgressNotification-button {

}

.leftGameInProgressNotification-button:hover {
    box-shadow: 0px 0px 16px -0.5px grey;
}





/********************************/






